.crumb {
    list-style: none;
    padding: 0 var(--body-spacing);
    display: flex;
    flex-wrap: wrap;
}

.crumb__icon {
    margin: 2px 0 0 0;
}

.crumb__item {
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 5px 23px 5px 0;
    position: relative;
}

.crumb__item:not(:last-of-type):after {
    content: '\00BB';
    display: block;
    font-size: 18px;
    position: absolute;
    right: 6px;
    margin: -3px 0 0 0;
}

