.search-form {
    position: relative;
}

.search-form__icon {
    position: absolute;
    left: 10px;
    top: var(--search-input-spacing-v);
    border: none;
    background: none;
    cursor: pointer;
}

.search-form__input {
    border-radius: var(--border-radius-med);
    border: 1px solid var(--input-border-colour);
    background: var(--input-background);
    padding: var(--search-input-spacing-v) 10px var(--search-input-spacing-v) 35px;
    width: 99%;
}